<tr class="js-edit-record" id="<%= dom_id(record) %>" style="display: none">
  <td><%= text_field_tag :title, record.title %></td>
  <td><%= date_field_tag :date, record.date %></td>
  <td><%= number_field_tag :amount, record.amount %></td>
  <td>
    <%= form_for record, remote: true, html: {} do |f| %>
        <%= f.submit 'Update', class: "btn btn-default", id: 'update-record' %>
        <%= link_to 'Cancel', '', class: 'btn btn-danger', id: 'cancel-edit-record' %>
    <% end %>
  </td>
</tr>