<%= form_for record, html: { class: 'form-inline well' }, remote: true do |f| %>
    <div class="form-group">
      <%= f.date_field :date %>
    </div>

    <div class="form-group">
      <%= f.text_field :title, placeholder: 'Title' %>
    </div>

    <div class="form-group">
      <%= f.text_field :amount, type: :number, placeholder: 'Amount' %>
    </div>

    <%= f.submit 'Create Record', class: "btn btn-primary", id: "create-record-submit" %>
    <%= button_tag 'Cancel', type: :reset, class: 'btn btn-danger', id: 'cancel-create-record' %>
<% end %>
