<tr class="js-show-record" id="<%= dom_id(record) %>">
  <td id="title"><%= record.title %></td>
  <td id="date"><%= record.date %></td>
  <td id="amount"><%= record.amount %></td>
  <td>
    <%= link_to 'Edit', edit_record_path(record), class: 'btn btn-default', id: 'edit-record' %>
    <%= link_to 'Destroy', record, method: :delete, remote: true, class: 'btn btn-danger', id: 'destroy-record-modal',
                data: { id: record.id, title: record.title, url: record_url(record) } %>
  </td>
</tr>
