$("#<%= dom_id(@record) %>.js-record").fadeOut("slow", function() {
  $(this).remove();
  i = App.Record.allRecords.indexOf(this.id);
  App.Record.allRecords.splice(i);
});

$('#counts #js-credit').html("<%= @records.credit %>");
$('#counts #js-debit').html("<%= @records.debit %>");
$('#counts #js-balance').html("<%= @records.balance %>");
