<div id="notice">
  <div class="container"></div>
  <%= notice %>
</div>

<h1>Records</h1>

<% cache @records do %>
  <div class="row" id="counts">
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">Credit</div>
        <div class="panel-body" id="js-credit"><%= @records.credit %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading">Debit</div>
        <div class="panel-body" id="js-debit"><%= @records.debit %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Balance</div>
        <div class="panel-body" id="js-balance"><%= @records.balance %></div>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'new_record_form', locals: { record: @record } %>

<table id="records_table" class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>

  <% @records.each do |record| %>
    <%= render partial: "record_row", locals: { record: record } %>
  <% end %>
</table>

<%= render partial: 'destroy_record_modal' %>