console.log('update clicked');
var record_partial = "<%= j render partial: 'record_row', locals: { record: @record } %>";

record = new App.Record($(record_partial));
record.renderShow();

$('#counts #js-credit').html("<%= @records.credit %>");
$('#counts #js-debit').html("<%= @records.debit %>");
$('#counts #js-balance').html("<%= @records.balance %>");
