// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.js-record {
  a:visited {
    color: white !important;
  }
}

#delete-confirm {
  a:visited {
    color: white !important;
  }
}
