.table {
  display: table;
}

.thead {
  display: table-header-group;
}

.tbody {
  display:table-row-group;
}

.tr {
  display: table-row;
}

.th {
  display: table-cell;
}

.td {
  display:table-cell;
}
